@import "tailwindcss";

.font-instrument {
  font-family: "Instrument Serif", serif;
}

.font-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* For some versions of Safari/Chrome if applicable */
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}